.calendarDateItem {
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    gap : 7%;
    padding : 10px 10px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    border-right: none;
    border-bottom: none;
}
/* 7의 배수번째 요소에 오른쪽 테두리 추가 */
.calendarDateItem:nth-child(7n) {
    border-right: none;
}
.calendarDateItem:nth-child(7n+1) {
    border-left: none;
    color: #FF4444;  /* 일요일 색상 */
}
/* 마지막 줄의 아래쪽 테두리 */
.calendarDateItem:nth-last-child(-n+7) {
    border-bottom: 1px solid #EEEEEE;
}
.calendarDateItem:first-child {
    color: #FF4444;  /* 일요일 색상 */
}
.calendarDateItem:first-child.otherMonth {
    color: #FF4646;
    font-weight: 100;
}
.calendarDateItem:hover {
    background-color: #f5f5f5;
}

.otherMonth {
    color: #ccc;
    font-weight: 100;
}
.nowDate {
    background-color: #f5f5f5;
}

.calendarCourse {
    background: #FF4646;
    border-radius: 10px;
    color: white;
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}

.calendarCourse.start {
    background: #4CCDAB;
}

.calendarCourse.end {
    background: #FF4646;
}

.none{
    display: none;
}